/* -------------Layout-----------------
--------------------------------------- */
*{
    margin:0;       
}

body{
    background-color: #f5f6fa;
}

.app{
    display: flex;
    justify-content: space-evenly;    
    padding: 2em;
}

.app__left{
    flex: 0.8;
    /* border: 1px solid red; */
}

.app__right{
    min-width: 300px;
    max-height: 43em;
    /* border: 1px solid black;     */
}

@media (max-width: 990px){
    .app{
        flex-direction: column;
    }
}


/* -------------App Left---------------
--------------------------------------- */
.app__header{    
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;    
}

.app__stats{
    display: flex;  
    justify-content: space-between;    
}

/* -------------App Right--------------
--------------------------------------- */
.app__right h3:nth-of-type(2){
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}



